<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <div class="container">
<header class="index_box1">
  <a class="logo_link" href="/">
    <h1>ServerBased</h1>
       </a>
       
    <nav class="navig">
<ul>
<li><a href="/"><b>HomePage</b></a></li>
<li><a href="/addcourse"><b>Add Course</b></a></li>
<li><a href="/about"><b>About</b></a></li>
</ul>
</nav>
</header>


<div class="index_box2">
<table >
<caption>Completed Courses</caption>
<thead>
  <tr>
<th>Name</th>
<th>Code</th>
<th>Url</th>
<th>Progression</th>
<th>Remove</th>
</tr>
</thead>
<tbody>
<% if(locals.rows.length > 0 ) { %>

<% locals.rows.forEach((row) => { %>    %>
  <tr>
 <td><%= row.name %></td>
  <td><%= row.code %></td>
   <td><a href="<%= row.url %>" >Link</a></td>
    <td><%= row.progression %></td>
     <td> <a href="/delete/ <%= row.id %>" class="remove_course">Remove</a></td>
    </tr>
<%  })%>
<%  } %>  

</tbody>
</table>
</div>




<footer class="index_box3">
<p class="p-footer">
Niklas Smith <br>
nism2400@student.miun.se <br>
moment 1 : serverbaserad <br>
Kurskod: dt207g
</p>
</footer>
</div>
</body>
</html>

<!-- 

<h2>test</h2>
<% if(locals.rows.length > 0 ) { %>

<% locals.rows.forEach((row) => { %>    %>
  <article>
    <p><%= row.name %></p>
  </article>
<%  })%>
<%  } %> */  -->